body{
    background-color: #E5E5E5;
    font-family: Roboto;
}
header #desktop{
    position: fixed;
    width: 100%;
    height: 54px;
    font-size: 22px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
}
header #barraHorizontal{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}
header #left{
    width: 146px;
    display: flex;
    justify-content: space-between;
}
header #barraPesquisa{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header #right{
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}

#posts{
    width: 614px;
    height: auto;
    margin-right: 200px;
    z-index: 3;
}
.post{
    width: 614px;
    height: 749px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin: 30px 0;
    position: relative;
}
.post .profile{
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 17px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.profile ion-icon{
    font-size: 16px;
    position: absolute;
    right: 17px;
    top: 23px;
}
.post .profile img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;
}
.post .imagem{
    width: 612px;
    height: 612px;
    margin: 0 1px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem img{
    max-width: 612px;
    max-height: 612px;
    width: fit-content;
    height: fit-content;
}
.imagem video{
    max-width: 612px;
    max-height: 612px;
    width: fit-content;
    height: fit-content;
}
.post .bottom{
    width:612px;
    display: flex;
    margin-bottom: 10px;
    /* background-color: black; */
}
.bottom .icons{
    /* background-color: green; */
    width: 96px;
    font-size: 22px;
    margin: 12px 15px;
    display: flex;
    justify-content: space-between;
}
.bottom .marcador{
    /* background-color: red; */
    font-size: 22px;
    margin-left: 450px;
    margin-top: 12px;
}
.post .curtidoPor{
    /* background-color: red; */
    width: auto;
    height: 21px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 17px;
    bottom: 14px;
    color: #000000;
}
.curtidoPor img{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 5px;
}
.curtidoPor strong{
    font-weight: 500;
}

aside{
    /* background-color: darkblue; */
    background-color: rgba(255, 255, 255, 0);
    width: 293px;
    height: auto;
    position: fixed;
    top: 111px;
    left: calc(100vw - 30vw);
    display: block;
}
aside #usuario{
    width: 182px;
    height: 34px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #262626;
}
aside #profile{
    display: flex;
    align-items: center;
}
aside #profile img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-right: 17px;
}
aside #username{
    font-weight: 500;
}
aside #name{
    font-weight: 300;
}
aside #sugestao{
    /* position: absolute; */
    width: 100%;
    height: 15px;
    margin-top: 24px;
    margin-bottom: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
}
.suggestionUser{
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.suggestionUser img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 11px;
}
.suggestionUser .username{
    width: 126px;
    height: 14px;
    margin-bottom: 6px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #262626;
}
.suggestionUser .username:hover{
    cursor: pointer;
    text-decoration: underline;
}
.suggestionUser .status{
    width: 143px;
    height: 11px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
}
.suggestionUser .seguir{
    width: 36px;
    height: 11px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #139EF2;
}
aside #verTudo{
    /* position: absolute; */
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-left: 120px;
    color: #262626;
}
aside #sobre{
    /* position: absolute; */
    width: 300px;
    height: 42px;
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #C7C7C7;
}
aside #instagram{
    position: absolute;
    width: 300px;
    height: 14px;
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #C7C7C7;
}